In [8]:
import pandas as pd

data = {'Col1': ['A', 'B', 'C'],
       'Col2': [1, 2, 3]}

df = pd.DataFrame(data)

df

  Col1  Col2
0    A     1
1    B     2
2    C     3

In [9]:
df.dtypes

Col1    object
Col2     int64
dtype: object

In [12]:
df['Col3'] = (df['Col2'] > 1).astype(int)

In [13]:
df

  Col1  Col2  Col3
0    A     1     0
1    B     2     1
2    C     3     1

In [26]:
import numpy as np

df = pd.DataFrame(np.arange(12).reshape(3, 4),
                 columns=['A', 'B', 'C', 'D'])

df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [27]:
df_1 = df.drop(columns=['B', 'C'])
df_1

   A   D
0  0   3
1  4   7
2  8  11

In [24]:
df

   A   D
0  0   3
1  4   7
2  8  11

In [28]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [29]:
df.drop([0, 1])

   A  B   C   D
2  8  9  10  11